canvas{
  border-bottom: 1px darkcyan solid;
  max-width:70%;

  
}
body{
  background-color:#111;
  color: rgb(41, 223, 198);
  

}

h3{
  font-weight: 100
}

button{
  background-color: rgb(44, 216, 159);
  border: #111;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 2px
}